fastapi
uvicorn
langchain
langgraph
openai
python-dotenv
pydantic
python-multipart
httpx
docx
PyPDF2
reportlab
elevenlabs
aiofiles
python-pptx
docx2txt
PyMuPDF
uvicorn
google-search-results
html2text
bs4
python-docx
python-pptx
nltk==3.8.1
